{% load crispy_forms_filters %}

<div class="relative">
    <input 
        datepicker 
        datepicker-format="yyyy-mm-dd"
        type="text"
        name="{% if field.name|wordcount > 1 %}{{ field.name|slugify }}{% else %}{{ field.name }}{% endif %}"
        value="{{ field.value }}"
        id="id_{{ field.html_name }}"
        {% if field.field.required %}required{% endif %}
        {{ field.field.widget.attrs|flatatt }}
        class="{% if field.errors %}border-red-500 {% endif %}bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
    >
</div>
